*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
} 
main .icon-section,.letest-section,.flower-featured,.instagram{
    margin: 100px 50px;
}
/* main .instagram{
    margin: 100px 0px;
} */

/* common style  */
.btn-primary{
border-radius: 8px;
background: #E55473;
padding: 15px 30px;
border: 0;
margin-top: 20px;
}
.text-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}
.section-title-container{
    margin-bottom: 50px;
    text-align: center;
    padding:0 350px ;
}
.section-title{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
/* header related style  */
.header{
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 80px;
}
.banner-pic{
    width: 500px;
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-text{
    padding: 40px 40px 40px 100px;
}
.banner-title{
color: #272727;
font-size: 70px;
font-weight: 700;
}
/* feature section style  */
.featured{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.flower1{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 40px 30px 0 30px;
}
.flower2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 50px 0px;
}
.flower3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 0px 30px 0 30px;
}
.featured p{
    text-align: center;
    text-decoration: underline;
}
/* icon section style  */
.icon-section{
    border-radius: 8px;
    background: rgba(111, 0, 255, 0.05);
} 
.icon-picture-section{
    display: flex;
    justify-content: space-around;
    padding: 50px 150px;
}
.icon-picture-section img{
    padding-left: 50px;
}
/* Sale section style  */
.sale-section{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 150px 0;
}
.sale-section-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 130px ;
}
.sale-text{
    text-align: center;
    padding: 0 150px;
}

/* Instagram Section style  */
.instagram{
    max-width: 1500px;
}
.insta-flower-container{
    display: flex;
    justify-content: space-around;
    
}
/* Latest input style  */
.letest-section{
    background-image: url(../background/Rectangle9.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 50px; 
}
.letest-section-container{
    padding: 100px;
}
.latest-title{
    color: #00d9ff;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.latesr-description{
    color: #00d9ff;
text-align: center;
font-size: 18px;
font-weight: 400;
}
.latest-input{
    text-align: center;
}
.latest-input [type="email"]{
    padding: 15px 200px;
    border-radius: 5px;
    border: none;
}
/* Footer style  */
.footer-style{
    background-color: rgb(27, 25, 25);
    padding: 50px 0px;
}
.copy-right-text{
    margin-top: 30px;
}
span{
    color: #E55473;
}