*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
}

/* common style  */
.btn-primary{
border-radius: 8px;
background: #E55473;
padding: 15px 30px;
border: 0;
margin-top: 20px;
}
.text-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

/* header related style  */
.header{
    background: rgba(229, 84, 115, 0.10);
}
.banner-pic{
    width: 500px;
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-text{
    padding: 40px 40px 40px 100px;
}
.banner-title{
color: #272727;
font-size: 70px;
font-weight: 700;
}
/* feature section style  */
.featured-title{
    margin-top: 100px;
    text-align: center;
    padding:0 450px ;
}
.featured{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 45px 100px;
}
.flower1{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 40px 30px 0 30px;
}
.flower2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 50px 0px;
}
.flower3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 0px 30px 0 30px;
}
.featured p{
    text-align: center;
    text-decoration: underline;
}
/* icon section style  */
.icon-section{
    border-radius: 8px;
    background: rgba(111, 0, 255, 0.05);
    margin: 0 130px;
} 
.icon-picture-section{
    display: flex;
    justify-content: space-around;
    padding: 50px 150px;
}
.icon-picture-section img{
    padding-left: 50px;
}
/* Sale section style  */
.sale-section{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}
.sale-section-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 130px ;
}
.sale-text{
    text-align: center;
    padding: 0 150px;
}

